*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar {
    background:
    white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    
  }

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
}  

#navbar_logo {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 2px 0px;
    height: 150px;

    
  }

#logo1 {
  height: 50%;
  width: 50%;
  margin: 40px 0px;
}
  .navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }
  
  .navbar_item {
    height: 80px;
  }

  .navbar_links {
    color: #252326;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    
  }
  
  .navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
     justify-content: center;
    align-items: center;
   text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: 
    #252326;
    color: #fff;
    box-shadow: 1px 1px 15px #252326 ;
  }
  
  .button:hover {
    background:#ffce01;
    transition: all 0.3s ease;
  }
  
  .navbar_links:hover {
    color: 
    #ffce01;
    transition: all 0.3s ease;
  }

  .main {
    background-color:
    white;
  }
  
  .main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background:
   white;
    
    
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  .main_content {
    color: #fff;
    width: 100%;
  }
  
  .main_content h1 {
    font-size: 4rem;
    background-color: #252326;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
  }
  
  .main_content h2 {
    font-size: 3.2rem;
    margin-top: 10px;
    background-color:#252326;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
  }
  
  .main_content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #252326;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
  }
  
  .main_btn {
    font-size: 1rem;
    background-color: #252326;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    box-shadow: 1px 1px 15px #252326 ;
  }
  
  .main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  
  .main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#ffce01;
    transition: all 0.35s;
    border-radius: 4px;
    
  }
  
  .main_btn:hover {
    color: #fff;
  }
  
  .main_btn:hover:after {
    width: 100%;
  }
  
  .main_img-container {
    text-align: center;
  }
  
  #main_img {
    height: 40%;
    width: 40%;
  }

  @media screen and (max-width:480px) {
    .main_container{
      display:grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0px auto;
      height: 90vh;
    }

    .main_content h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }
  
    .main_content h2 {
      font-size: 2rem;
    }
  
    .main_content p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  
    .main_btn {
      padding: 10px 36px;
      margin: 2.5rem 0;
    }
  }

  .services {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .services h1 {
    background-color: #252326;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    padding-top: 200px;
  }
  
  .services__container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .services__card {
    
    height: 800px;
    width: 20%;
    border-radius: 4px;
    background-size: cover;
    position: relative;
    color: #fff;
    transform: scale(0.7);

  }
  
  .services__card:before {
    opacity: 0.2;
  }
  
  
  .services__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  
  .services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }
  

  
  .services__card button:hover {
    cursor: pointer;
  }
  
  .services__card:hover {
    transform: scale(0.765);
    transition: 0.2s ease-in;
    cursor: pointer;
  }